<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>趣学-听力</title>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/styles/app.css">

    <script src="//cdn.jsdelivr.net/g/jquery@3.2.1,bootstrap@3.3.7,vue@2.3.2"></script>
</head>
<body>
<div class="container" id="listening-recall" v-cloak>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-success">
                <div class="panel-heading text-nowrap">
                    <a href="index.html">趣学</a> / <a href="listening.html">听力</a>
                </div>
                <div class="panel-body">
                    <template v-if="selected.text">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-10">
                                    <span class="glyphicon glyphicon-volume-up" @click="playAudio"></span>
                                    <audio id="audio"></audio>
                                </div>
                                <div class="col-xs-2">
                                    <span class="glyphicon glyphicon-bell" @click="tip"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <form class="form-inline">
                                        <blockquote>
                                            <p>

                                                <template v-for="(item, index) in selected.text">
                                                    {{ item }}
                                                    <template v-if="index < selected.answers.length">
                                                        <div class="form-group">
                                                            <input name="listening-subject-item"
                                                                   :size="selected.answers[index].length"
                                                                   v-model.trim="selected.result[index]">
                                                        </div>
                                                    </template>
                                                </template>

                                            </p>
                                            <footer v-if="selected.tipTranslation">{{ selected.translation }}</footer>
                                        </blockquote>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <template v-if="hasNext()">
                                        <button type="button" class="btn btn-success" @click="next"
                                                v-bind:disabled="!isRight">下一个
                                        </button>
                                    </template>
                                    <template v-else>
                                        <a class="btn btn-success" href="listening.html" role="button"
                                           v-bind:disabled="!isRight">结束</a>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var vm = new Vue({
        "el": "#listening-recall",
        "data": {
            "selected": {
                "index": -1,
                "answers": [],
                "result": [],
                "text": [],
                "translation": "",
                "tipTranslation": false
            },
            "wordContents": (function () {
                var reg = new RegExp("(^|&)ids=([^&]*)(&|$)", "i");
                var r = window.location.search.substr(1).match(reg);
                return r ? decodeURIComponent(r[2]).split(",") : [];
            })()
        },
        "computed": {
            "isRight": function () {
                for (var index in this.selected.answers) {
                    var answer = this.selected.answers[index];
                    var result = this.selected.result[index];
                    if (answer && result && (answer.toLocaleLowerCase() === result.toLocaleLowerCase())) {
                        continue;
                    }
                    return false;
                }
                return true;
            }
        },
        "watch": {},
        "methods": {
            "hasNext": function () {
                return this.selected.index < this.wordContents.length - 1;
            },
            "next": function () {
                this.select(this.selected.index + 1);
            },
            "select": function (index) {
                var wordContent = this.wordContents[index];
                $.get(["assets", "listening", wordContent, wordContent + ".json"].join("/"), function (value) {
                    $.extend(vm.selected, {
                        "index": index,
                        "answers": value.answers,
                        "result": [],
                        "text": value.text,
                        "translation": value.translation,
                        "tipTranslation": false
                    });
                });
            },
            "tip": function () {
                if (!!this.selected.text) {
                    if (!this.selected.tipTranslation) {
                        this.selected.tipTranslation = true;
                        return;
                    }

                    $("input[name='listening-subject-item']").each(function (index) {
                        var answer = vm.selected.answers[index];
                        $(this).val(answer);
                    });

                    window.setTimeout(function () {
                        $("input[name='listening-subject-item']").each(function (index) {
                            var result = vm.selected.result[index];
                            $(this).val(result);
                        });
                    }, 5000);
                }
            },
            "playAudio": function () {
                var wordContent = this.wordContents[this.selected.index];
                $("#audio").attr({
                    "src": ["assets", "listening", wordContent, wordContent + ".mp3"].join("/"),
                    "autoplay": "autoplay"
                });
            }
        }
    });

    vm.hasNext() && vm.next();

    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-103657912-1', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>
