<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="趣学">
    <meta name="description" content="">

    <title>趣学-读</title>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/styles/app.css">
</head>
<body>

<div id="read-detail" v-cloak>
    <navbar-top :title="title"></navbar-top>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                         style="min-width: 2em;" v-bind:style="{width: percentage + '%'}">
                        {{ index + 1 }} / {{ length }}
                    </div>
                </div>
            </div>
        </div>
        <template v-if="word">
            <div class="row">
                <div class="col-xs-12">
                    <div>
                        <audio id="phoneticAudio"></audio>
                        <p class="word-content">{{ word.content }}</p>
                        <p>
                            <template v-if="word.pronunciation && word.pronunciation.uk">
                                <span class="word-pronunciation-type">英</span>
                                <span class="word-pronunciation-phonetic">[{{ word.pronunciation.uk.phonetic }}]</span>
                                <template v-if="word.pronunciation.uk.audio">
                                    <span class="glyphicon glyphicon-volume-up"
                                          @click="playAudio(word.content, word.pronunciation.uk.audio)"></span>
                                </template>
                            </template>&nbsp;&nbsp;&nbsp;
                            <template v-if="word.pronunciation && word.pronunciation.us">
                                <span class="word-pronunciation-type">美</span>
                                <span class="word-pronunciation-phonetic">[{{ word.pronunciation.us.phonetic }}]</span>
                                <template v-if="word.pronunciation.us.audio">
                                    <span class="glyphicon glyphicon-volume-up"
                                          @click="playAudio(word.content, word.pronunciation.us.audio)"></span>
                                </template>
                            </template>
                        </p>
                        <template v-if="word.definition && word.definition.cn">
                            <p>
                                <template v-for="(value, key) in word.definition.cn">
                                    <span class="word-definition-type">{{ key }}.</span>
                                    <span class="word-definition-content">{{ value.join(';') }}</span><br>
                                </template>
                            </p>
                        </template>
                        <template v-if="word.examples">
                            <blockquote v-for="item in word.examples" class="word-example">
                                <p>{{ item.first }}<em>
                                    <ins>{{ word.content }}</ins>
                                </em>{{ item.last }}
                                </p>
                                <footer>{{ item.translation }}</footer>
                            </blockquote>
                        </template>
                    </div>
                </div>
            </div>
        </template>
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <template v-if="hasNext">
                        <button type="button" class="btn btn-success" @click="next">继续</button>
                    </template>
                    <template v-else>
                        <button type="button" class="btn btn-success" @click="window.history.back();">结束</button>
                    </template>
                </div>
            </div>
        </div>
    </div>
    <navbar-bottom></navbar-bottom>
</div>
<script
    src="//cdn.jsdelivr.net/combine/npm/jquery@3.2.1,npm/bootstrap@3.3.7/dist/js/bootstrap.min.js,npm/vue@2.4.2/dist/vue.min.js"></script>
<script src="assets/scripts/app.js"></script>
<script>
    $.get("assets/words/read.json", function (items) {
        var category = getParameter("category");
        var words = (function (items, category) {
            for (var index in items) {
                var item = items[index];
                if (item.category == category) {
                    return item.words;
                }
            }
            return [];
        })(items, category);

        if (words.length == 0) {
            window.location.assign("404.html");
            return;
        }

        var vm = new Vue({
            "el": "#read-detail",
            "data": {
                "title": ['读', category].join('-'),
                "words": words,
                "index": -1,
                "word": null
            },
            "computed": {
                "length": function () {
                    return this.words.length;
                },
                "hasNext": function () {
                    return this.index < this.words.length - 1;
                },
                "percentage": function () {
                    return (100 * (this.index + 1) / this.words.length).toFixed();
                }
            },
            "methods": {
                "next": function () {
                    this.index = this.index + 1;
                    var wordContent = this.words[this.index];
                    $.get(getWordUrl(wordContent), function (word) {
                        vm.word = word;
                    });
                },
                "playAudio": function (wordContent, audioFile) {
                    $("#phoneticAudio").attr({
                        "autoplay": "autoplay",
                        "src": getPhoneticAudioUrl(wordContent, audioFile)
                    });
                }
            }
        });
        vm.hasNext && vm.next();
    });

    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-103657912-1', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>
