<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>趣学</title>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/styles/app.css">

    <script src="//cdn.jsdelivr.net/g/jquery@3.2.1,bootstrap@3.3.7,vue@2.3.2"></script>
    <script src="assets/scripts/app.js"></script>
</head>
<body>
<div class="container" id="recall" v-cloak>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-success">
                <div class="panel-heading text-nowrap">
                    <a href="index.html">趣学</a> / <a href="frequency.html">词频</a>
                </div>
                <template v-if="selected.finish">
                    <div class="panel-body">
                        <table class="table table-striped table-hover">
                            <tr v-for="word in words" @click="playAudio(word.content, word.pronunciation['uk'].audio)">
                                <td>
                                    <mark>{{ word.content }}</mark>
                                    <br>
                                    /{{ word.pronunciation["uk"].phonetic }}/
                                    <span class="glyphicon glyphicon-volume-up"></span><br>
                                    <template v-if="word.definition['cn']">
                                        <div v-for="(fvalue, fkey) in word.definition['cn']">
                                            <span class="speech">{{ fkey }}.</span>
                                            <span v-html="fvalue.join('; ')"></span>
                                        </div>
                                    </template>
                                </td>
                            </tr>
                        </table>
                    </div>
                </template>
                <template v-else-if="selected.word">
                    <div class="panel-body">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" :class="progressBarClass"
                                 role="progressbar"
                                 :style="{width:percentage+'%'}">
                                {{ selected.index + 1 }}/{{ wordContents.length }}
                            </div>
                        </div>
                        <h4>
                            <mark>{{ selected.word.content }}</mark>
                        </h4>
                        <div v-for="(value, key, index) in selected.word.pronunciation">
                            <span class="text-uppercase text-success">{{ key }}:</span> /{{ value.phonetic }}/
                            <span class="glyphicon glyphicon-volume-up"
                                  @click="playAudio(selected.word.content, value.audio)"></span>
                            <audio autoplay v-if="index==0"
                                   :src="getDataUrl(selected.word.content, value.audio)"></audio>
                        </div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" v-if="selected.example">
                            <div v-for="value in selected.word.examples">
                                <blockquote>
                                    <p>
                                        {{ value.first }}
                                        <em>
                                            <ins>{{ selected.word.content }}</ins>
                                        </em>
                                        {{ value.last }}
                                    </p>
                                    <template v-if="selected.full">
                                        <footer>{{ value.translation }}</footer>
                                    </template>
                                </blockquote>
                            </div>
                        </li>
                        <template v-for="(value, key) in selected.word.definition">
                            <li class="list-group-item" v-if="selected[key]">
                                <div v-for="(fvalue, fkey) in value">
                                    <span class="speech">{{ fkey }}.</span>
                                    <span v-html="fvalue.join('; ')"></span>
                                </div>
                            </li>
                        </template>
                    </ul>
                    <div class="panel-footer text-center">
                        <template v-if="!(selected.example && selected.en && selected.cn)">
                            <button type="button" class="btn btn-default" @click="known">认识</button>
                            <button type="button" class="btn btn-default" @click="unknown">不认识</button>
                        </template>
                        <template v-else-if="selected.full">
                            <template v-if="hasNext()">
                                <button type="button" class="btn btn-success" @click="next">下一个</button>
                            </template>
                            <template v-else>
                                <button type="button" class="btn btn-success" @click="next">结束</button>
                            </template>
                        </template>
                        <template v-else>
                            <button type="button" class="btn btn-success" @click="known">详细信息</button>
                        </template>
                        <span v-text="selected.newWord ? '移出生词本' : '加入生词本'"
                              :class="selected.newWord ? 'text-danger' : 'text-success'" @click="newWord"></span>
                    </div>
                </template>
            </div>
        </div>
    </div>
    <audio id="audio"></audio>
</div>

<script>
    var vm = new Vue({
        "el": "#recall",
        "data": {
            "selected": {
                "index": -1,
                "word": null,
                "example": false,
                "en": false,
                "cn": false,
                "full": false,
                "finish": false,
                "newWord": false
            },
            "wordContents": (function () {
                var reg = new RegExp("(^|&)words=([^&]*)(&|$)", "i");
                var r = window.location.search.substr(1).match(reg);
                return r ? decodeURIComponent(r[2]).split(",") : [];
            })(),
            "words": []
        },
        "computed": {
            "percentage": function () {
                return (100 * (this.selected.index + 1) / this.wordContents.length).toFixed();
            },
            "progressBarClass": function () {
                if (this.percentage <= 33) {
                    return {"progress-bar-danger": true};
                }
                if (this.percentage <= 66) {
                    return {"progress-bar-warning": true};
                }
                if (this.percentage <= 99) {
                    return {"progress-bar-info": true};
                }
                return {"progress-bar-success": true};
            }
        },
        "methods": {
            "getDataUrl": function (wordContent, fileName) {
                return ["assets", "words", wordContent.substring(0, 1), wordContent, fileName].join("/");
            },
            "select": function (index) {
                var wordContent = this.wordContents[index];
                $.get(this.getDataUrl(wordContent, wordContent + ".json"), function (word) {
                    $.extend(vm.selected, {
                        "index": index,
                        "word": word,
                        "example": false,
                        "en": false,
                        "cn": false,
                        "full": false,
                        "newWord": NWordList.exist(word.content)
                    });
                    vm.words.push(word);
                })
            },
            "next": function () {
                if (this.selected.index == this.wordContents.length - 1) {
                    $.extend(vm.selected, {
                        "index": -1,
                        "word": null,
                        "example": false,
                        "en": false,
                        "cn": false,
                        "full": false,
                        "finish": true,
                        "newWord": false
                    });
                    return;
                }
                this.select(this.selected.index + 1);
            },
            "hasNext": function () {
                return this.selected.index < this.wordContents.length - 1;
            },
            "known": function () {
                $.extend(this.selected, {
                    "example": true,
                    "en": true,
                    "cn": true,
                    "full": true
                });
            },
            "unknown": function () {
                if (!this.selected.example) {
                    this.selected.example = true;
                    return;
                }
                if (!this.selected.en) {
                    this.selected.en = true;
                    return;
                }
                if (!this.selected.cn) {
                    this.selected.cn = true;
                    return;
                }
            },
            "playAudio": function (wordContent, fileName) {
                $("#audio").attr({
                    "src": this.getDataUrl(wordContent, fileName),
                    "autoplay": "autoplay"
                });
            },
            "newWord": function () {
                if (this.selected.newWord) {
                    NWordList.remove(this.selected.word.content);
                } else {
                    NWordList.add(this.selected.word);
                }
                this.selected.newWord = !this.selected.newWord;
            }
        }
    });

    vm.hasNext() && vm.next();

    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-103657912-1', 'auto');
    ga('send', 'pageview');
</script>

</body>
</html>
