body {
    font-size: 16px;
}

mark {
    color: green;
    font-size: x-large;
}

blockquote {
    border-left-color: green;
}

.glyphicon {
    font-size: large;
}

.speech {
    font-size: 1.2em;
    white-space: nowrap;
    color: #3c763d;
}

[v-cloak] {
    display: none;
}
