body {
    padding-top: 70px;
    padding-bottom: 70px;
    font-family: "隶书", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

blockquote {
    border-left-color: green;
    font-size: 1em;
}

[v-cloak] {
    display: none;
}

img.icon {
    height: 40px;
    width: auto;
}

.nav-swf {
    font-size: 30px;
    background-color: #c2f9b5;
}

h3.song {
    text-align: center;
    font-size: 1.8em;
}

pre.song {
    text-align: center;
    font-size: 1.5em;
}

.word-content {
    font-size: 1.6em;
    font-weight: bolder;
}

.word-pronunciation-phonetic {
    color: #B2B2B2;
}

div.caption {
    font-size: 1.2em;
}

.words-category {
    font-size: 1.5em;
}

.words-item {
    font-size: 1em;
}
