body {
    font-size: 16px;
}

mark {
    color: green;
    font-size: x-large;
}

blockquote {
    border-left-color: green;
}

.glyphicon {
    font-size: large;
}

[v-cloak] {
    display: none;
}
